$color-primary: #534741;
$color-secondary: #C7B299;
$color-accent: #FEFEFE;
$color-txt-primary: black;
$color-txt-secondary: rgba($color-txt-primary, 0.8);
$color-white: #FEFEFE;
$color-black: #1D1D1F; 
