$font-primary: 'Ubuntu', sans-serif; //Heading
$font-secondary: 'Open Sans', sans-serif; //Paragraph

/*--------------------------------------------------
Type scale
--------------------------------------------------*/
h1{
    font-family: $font-primary;
    font-size: clamp(3rem, 10vw, 6rem);
    font-weight: 600;
    letter-spacing: -1.5px; line-height: 105%;
    color: $color-secondary;
}

h2{
    font-family: $font-primary;
    font-size: clamp(2.5rem, 8vw, 4.5rem);
    font-weight: 600;
    letter-spacing: -1px; line-height: 105%;
    color: $color-primary;
}

h3{
    font-family: $font-primary;
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 600;
    line-height: 110%;
    color: $color-primary;
}


p{
    font-weight: 400;
    line-height: 140%;
    word-wrap:break-word;

    font-size: 1rem; //16px on mobile 
        @media #{$large} {
            font-size: 1.125rem; //18px on desktop
        }

    &.overtitle{
        font-size: 1.25rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &.subtitle{
        font-weight: 600;
        font-size: 1.125rem; //18px on mobile 
        @media #{$large} {
            font-size: 1.25rem; //20px on desktop
        }
    }

    &.p-little{
        font-size: 0.875rem; 
        @media #{$large} {
            font-size: 1rem;
        }
    }

}


/*--------------------------------------------------
TEXT COLOR
--------------------------------------------------*/
.t-primary{
    color: $color-primary;
}
.t-secondary{
    color: $color-secondary;
}
.t-white{
    color: $color-white;
}



/*--------------------------------------------------
TEXT WEIGHT
--------------------------------------------------*/
.t-bold{
    font-weight: 700;
}



/*--------------------------------------------------
CORRECTIONS
--------------------------------------------------*/
.t-left{
    text-align: left;
}
.t-center{
    text-align: center;
}
    .t-center-mobile{
        text-align: center;

        @media #{$large} {
            text-align: left;
        }
    }
.t-right{
    text-align: right;
}

.lowercase{text-transform: lowercase;}
.capitalize{text-transform: capitalize;}






/*--------------------------------------------------
RECCOMENDATIONS for text font sizes

    DESKTOP
        H1: 42px
        H2: 38px
        H3: 25px
        body text: 18px
        secondary text: 16px
        navbar link: 16px

    MOBILE
        H1: 38px
        H2: 36px
        H3: 23px
        body text: 16px
        secondary text: 14px
--------------------------------------------------*/