.fascia-evidenza{
    position: relative;
    padding: 6rem 0;

    &.fascia-evidenza__light{
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: -25vw; top: 0;
            z-index: -1;
            width: 150vw; height: 100%;
            background-color: $color-secondary;
        }
    }


    &.fascia-evidenza__dark{

        &::before{
            content: '';
            display: block;
            position: absolute;
            left: -25vw; top: 0;
            z-index: -1;
            width: 150vw; height: 100%;
            background-color: $color-primary;
        }

        p{
            color: $color-white;
            &.overtitle{
                color: $color-white;
            }
            &.subtitle{
                color: $color-white;
            }
        }
        h2{color: $color-secondary;}
        .link{
            color: $color-secondary;
            border-bottom: 4px solid $color-secondary;
        }
            .link:hover{
                border-bottom-color: $color-primary;
            }
    }
}