.social-bar{

    .justify-content-center{
        margin-top: 4rem;
    }

    a{
        display: inline-block;
        
        svg{
            fill: $color-white;
            width: 4rem; height: auto;
            box-shadow: 0 1px 2px 0 rgba(60,64,67,0.30), 0 1px 3px 1px rgba(60,64,67,0.15);
            border-radius: 100vw;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);

            circle{
                fill: $color-primary;
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                
            }
        }

        &:hover{
            svg{
                fill: $color-primary;
                circle{fill: $color-secondary;}
            }
        }
    }
}