.newsletter{
    #mc_embed_signup{
        background: transparent;

        form{
            padding: 0;

            .mc-field-group {
                label{
                    font-family: $font-secondary;
                    opacity: 0.9; 
                    font-size: 1rem; //16px on mobile 
                        @media #{$large} {
                            font-size: 1.125rem; //18px on desktop
                        }
                }
                input{
                    border-radius: 50vh;
                }

                &#mergeRow-gdpr{
                    margin-top: 0;

                    .content__gdpr, .content__gdprLegal{
                        p, a{
                            font-size: 0.75rem;
                            color: $color-primary;
                        }

                        .checkbox{
                            margin: 0.5rem 0 1rem;
                        }
                    }
                }
            }
        }

        .button{
            color: $color-secondary;
            background: $color-primary;
            font-size: 1rem;
            text-transform: uppercase; text-decoration: none;
            font-weight: 600; letter-spacing: 2px;
            border-radius: 100px;
            padding: 0 32px;
            box-shadow: 0 1px 2px 0 rgba(60,64,67,0.30), 0 1px 3px 1px rgba(60,64,67,0.15);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);

            &:hover{
                box-shadow: 0 1px 3px 0 rgba(60,64,67,0.30), 0 4px 8px 3px rgba(60,64,67,0.15);
                background-color: $color-secondary;
                color: $color-primary;
            }
        }
    }
}