article{
    max-width: 90%;

    a{
        text-decoration: none;
    }
}

.article__picture{
    max-height: 400px;
    display: inline-block;

    img{
        border-radius: 0.75rem;
        width: auto; max-width: 100%;
        height: 100%; max-height: 400px;
        object-fit: cover; object-position: center;
        transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &:hover {
            transform: scale(1.01);
            opacity: 0.9;
        }
    }
}

.article__title{
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
}

.article__excerpt{
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
}

.article__link{
    color: $color-primary;
}