article{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media #{$large}{
        max-width: 90%;
    }

    a{
        text-decoration: none;
    }
}

.no-dec{text-decoration: none;}


.article__picture{
    height: 400px;
    display: inline-block;

    img{
        border-radius: 0.75rem;
        width: auto; max-width: 100%;
        height: 100%; max-height: 400px;
        object-fit: cover; object-position: center;
    }
}

.article__date{
    font-weight: 600;
}

.article__title{
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

}

.article__excerpt{
    color: $color-primary;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
}

.article__link{
    color: $color-primary;
    margin-bottom: 0.75rem;
}

.flex-center{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    width: 100%;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 18px rgba($color-primary, 0.16);    
    padding: 1.5rem;
    margin-right: 0px;
    margin-left: 0px;
    transform: scale(1);
    transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    
    &:hover {
        transform: scale(1.01);
        box-shadow: 0px 0px 22px rgba($color-primary, 0.40);     
        opacity: 0.9;
    }
}


/*Sticky post*/
.sticky_post {
    .sticky_post_img{
        @media #{$large}{
            margin-bottom: 0;
            padding-right: 2rem !important;

            .article__picture{
                margin-bottom: 0;
            }
        }
    }
}


